language: ruby
rvm:
- 2.2.1
sudo: false
cache: bundler
addons:
  code_climate:
    repo_token:
      secure: "cNY3+gHTFC/mL3K34u+JR4UvsvREtytTUakNjy/J6avX1Zrgbzo26p4JzKNIsDzDvPkkaQqhLkdELMBnNjermTFFGtbJ8PNU1rNWwsLJ/R+RsFzrD8eBOgCBgLVt798qz7skLzKpiUzoU8rEq5ksyn1sBHo6OcrrKwvE8lQY8zs="
